.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    flex-direction: column;
  }
  
  #progress-bar {
    width: 200px;
    height: 40px;
  background-color: whitesmoke;
    margin-bottom: 12px;
    position: relative;
  }
  
  #fill {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: blue;
  }
  